# Python cache
__pycache__/
*.pyc

# Local backup directory
backups/*
!backups/.gitkeep

# Local logs directory
logs/*
!logs/.gitkeep

# Environment variables & secrets
.env

# Virtual environment
.venv/
venv/

# Restored test files
restore/
